header  {
    color: black;
    padding: 1em;
    text-align: center;
    clear: left;
    font-size: 14px;
}


a {
    color: #0047ab;
}

.bannerLink {
    color: grey;
}

div.overlfowAuto {
    overflow:auto;
}

.helvetica
{
    font-family: Arial, Helvetica, sans-serif !important;
}

.plotLeft
{
    float: left;
    height: 500px;
}
.radioRight
{
    height: 500px;
}

.sidenav {
float: left;
max-width: 160px;
margin: 0;
padding: 1em;
border-right: 1px solid gray;
    height: 100%;
    bottom: 50;
}

article {
margin-left: 170px;
padding: 1em;
overflow: hidden;
    height: 100%;
}

.rowflow
{
    display:flex;
    flex-direction:row;
}

.ib1
{
    display: inline-block
}

.ib2
{
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

html
{
    font-size: 100%;
}

p.inset {border-style: inset;}

.overallContainer {
    margin:20px
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6pt;
}

.breakWords {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6pt;
}

.breakAll {
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6pt;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
    font-size: 6pt;
}

.filterHeaderMain
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.filterHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.filterBody
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.legendPad {
    margin-left: 1px
}

.btn-primary {
    color: #fff !important;
    background-color: #0047ab !important;
    border-color: #0047ab !important;
}

button {
    background-color: #e7e7e7 !important; 
    color: black !important;
}

.smallerInput {
    width: 80px;
    font-size: 8pt;
    margin-bottom: 5x;
}

.submitAlign {
    margin-left:5px;
}

.filterColumn {
  float: left;
  width: 33%;
}

.secondFilterRow {
    width:300px;
    margin-bottom: 0px;
    margin-top: 0px;
}
  
  /* Clear floats after the columns */
.filterRow:after {
  content: "";
  display: table;
  clear: both;
}

.reducedMargin {
    margin-bottom: 0px;
    margin-top: 0px;
}

.expanded-container{
    overflow-x: auto;
}

.scrollBarTable {
    overflow-x: auto;
    display: inline;
}
.queryResultsTable {
    width:100% !important;
}